[credential]
    helper = manager
[user]
    email = tony@codeawhile.com
    name = Tony Ferrell
[push]
    default = current
[core]
    editor = 'gvim.bat' -f
[rebase]
    autoSquash = true
[alias]
    l = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset'
    ln = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset' -n
    fshow = show --pretty="" --name-only
    fup = commit --fixup
    sup = commit --squash
[merge]
    conflictstyle = diff3
[status]
  showUntrackedFiles = all
